# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
staticfiles/
.venv/
venv/
__pycache__/
*.pyc
staticfiles/
.env

# Large local video files
core/static/videos/trailers/*.mov
core/static/videos/trailers/*.mp4
staticfiles/videos/trailers/*.mov
staticfiles/videos/trailers/*.mp4
