# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/

# ---- Virtual Environments ----
.venv/
venv/
.env
ENV/

# ---- IDE / OS ----
.vscode/
.DS_Store
.idea/

# ---- Django ----
db.sqlite3
media/
staticfiles/
*.log

# ---- Archives / Backups ----
*.zip
*.tar
*.tar.gz

# ---- Node ----
node_modules/

# ---- Large static assets ----
core/static/videos/
core/static/videos/
core/static/videos/*
!core/static/videos/.gitkeep
