{# merchant/templates/merchant/_nav.html #}
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>

    {% if request.user.is_authenticated %}
      {% with store=request.user.stores.all|first %}
        {% if store %}
          <li><a href="{% url 'merchant:dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'merchant:storefront' store.slug %}">My Storefront</a></li>
        {% else %}
          <li><a href="{% url 'merchant:setup' %}">Create your store</a></li>
        {% endif %}
      {% endwith %}
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'account_login' %}">Login</a></li>
      <li><a href="{% url 'account_signup' %}">Sign up</a></li>
    {% endif %}
  </ul>
</nav>
